*
{
  box-sizing:border-box;
}

body {
  box-sizing:"border-box";
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 37px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  transition:all 0.75s;
  text-align: center;
  width: 37px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  margin:-20px 0;
  min-height:100vh;
  padding:30px;
}

.game-board {
  align-self:center;
}

.game-info {
  /* margin-left: 20px; */
  align-self:center;
}

.win-square
{
  background-color:#000;
  color:#fff;
  /* transform:perspective(500px) translateZ(50px); */
  transform:translateZ(50px);
}

.board-row
{
  perspective:400px;
  perspective-origin:center;
}

.board-row:nth-child(1) {
  perspective-origin:50% 150%;
}

/* Bottom row */
.board-row:nth-child(3) {
  perspective-origin:50% -50%;
}